Prediction of wind power UI using NODE RED.json
[{"id":"c120850b.353ee8","type":"tab","label":"Estimation","disabled":false,"info":""},{"id":"131057bb.712e28","type":"ui_form","z":"c120850b.353ee8","name":"","label":"","group":"18d0636f.4eb97d","order":4,"width":0,"height":0,"options":[{"label":"wind speed","value":"ws","type":"number","required":true,"rows":null},{"label":"wind direction","value":"wd","type":"number","required":true,"rows":null}],"formValue":{"ws":"","wd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":260,"wires":[["148ab437.b57a2c"]]},{"id":"148ab437.b57a2c","type":"function","z":"c120850b.353ee8","name":"Pre token","func":"global.set(\"ws\",msg.payload.ws)\nglobal.set(\"wd\",msg.payload.wd)\nvar apikey=\"RFKwQFtcTn3cjC18DbhhooxZ6A0akkhefsFAsNoOgqsh\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":240,"wires":[["2f2205ee.ab47ca"]]},{"id":"2964963a.f4fdea","type":"function","z":"c120850b.353ee8","name":"Pre Prediction","func":"var ws = global.get('ws')\nvar wd = global.get('wd')\nvar token=msg.payload.access_token\nvar instance_id=\"a7828036-e715-45da-b925-d3e466408ae7\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"wind speed \", \"wind direction \"],\"values\": [[ws, wd]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":180,"wires":[["7f675318.aa97ac"]]},{"id":"26f423fa.2b863c","type":"inject","z":"c120850b.353ee8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["148ab437.b57a2c"]]},{"id":"7f675318.aa97ac","type":"http request","z":"c120850b.353ee8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/01168fa9-8521-4f9e-90d4-a5e9e9e27b6b/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":240,"wires":[["df30e771.3729a8"]]},{"id":"df30e771.3729a8","type":"function","z":"c120850b.353ee8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":160,"wires":[["22ffee2.1cb1d12","8c33e5e8.3eb278"]]},{"id":"22ffee2.1cb1d12","type":"debug","z":"c120850b.353ee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":120,"wires":[]},{"id":"8c33e5e8.3eb278","type":"ui_text","z":"c120850b.353ee8","group":"18d0636f.4eb97d","order":5,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":220,"wires":[]},{"id":"2f2205ee.ab47ca","type":"http request","z":"c120850b.353ee8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":300,"wires":[["2964963a.f4fdea"]]},{"id":"a30fda47.51cef8","type":"ui_text","z":"c120850b.353ee8","group":"18d0636f.4eb97d","order":1,"width":0,"height":0,"name":"","label":"Wind energy is one of most green energy which can be used for various purposes and converted into electricity.The nature has given many ways to convert one form of energy into another without harming nature itself.","format":"{{msg.payload}}","layout":"row-spread","x":1380,"y":280,"wires":[]},{"id":"66eb7be8.58cc44","type":"ui_text","z":"c120850b.353ee8","group":"18d0636f.4eb97d","order":2,"width":0,"height":0,"name":"","label":"Forecasting of electricity from wind energy will help human society to be prepared in many ways, such as to have equipment’s to store the generated data, to alarm the society for any alerts, etc.The project aim here is to forecast electricity that can be generated over time based on previous data.","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":360,"wires":[]},{"id":"18d0636f.4eb97d","type":"ui_group","z":"","name":"Prediction","tab":"903c5592.d54d68","order":1,"disp":true,"width":"16","collapse":false},{"id":"903c5592.d54d68","type":"ui_tab","z":"","name":"Wind","icon":"dashboard","disabled":false,"hidden":false}]